body {
	padding: 90px;
	background: #222222;
}

.navbar {
	-moz-box-shadow: (0, 0, 0, 0, 10) 0 2px 0;
	-webkit-box-shadow: (0, 0, 0, 0, 10) 0 2px 0;
	box-shadow: (0, 0, 0, 0, 10) 0 2px 0;
}
.navbar .navbar-brand {
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 25px;
	color: light gray;
	height: 1em;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.table tbody>tr>td.middle {
	vertical-align: middle;
	color: navy;
}

.media {
	padding: 10px 0;
}

.media img, .fileinput .thumbnail, .thumbnail img {
	border-radius: 50%;
}

.media-left {
	padding: 0 20px;
}

.media-heading {
	color: #dd5638;
	margin-bottom: 20px;
}

.media {
	padding: 10px 0;
}