<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>My Contact Manager</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/jasny-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom-style.css">
    <script src="js/jquery.min.js"></script>
    

  </head>
  <body ng-controller="ContactController">
    <!-- navbar-->
    <nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
		    <div class="navbar-header">
		    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
		      <a class="navbar-brand text-uppercase" href="#">
		        <p> My Contact Manager </p>
		      </a>
		    </div>
		    <div class="collapse navbar-collapse" id="navbar-collapse">
		    	<div class="nav navbar-right navbar btn">

		    		<a ng-click="displayForm()" class="btn btn-default">
		    			<i class="glyphicon glyphicon-plus"></i>
		    			Add Contact
		    		</a>
		    	</div>
		    </div>
		  </div>
	</nav>
    

	<!-- content -->
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="list-group">
					<a href="#" ng-click="doFilter(0)" class="list-group-item active">All Contacts <span class="badge">{{contacts.length}}</span></a>
					<a href="" ng-click="doFilter(1)" class="list-group-item">Friend<span class="badge">{{friendCount}}</span></a>
					<a href="" ng-click="doFilter(2)" class="list-group-item">Family <span class="badge">{{familyCount}}</span></a>
					<a href="" ng-click="doFilter(3)" class="list-group-item">Other <span class="badge">{{otherCount}}</span></a>
				</div>
			</div>
			<div class="col-md-9">
				<div class="panel panel-default">
				<table class="table">
					<tr ng-repeat="contact in contacts | filter: filters">
						<td class="middle">
							<div class="media">
                             <div class="media-left">
                                 <a href="#">
                                 <img class="media-object" src="image/skywalker.jpg" width="200x200">
                                 </a>
                             </div>
							  <div class="media-body">
							    <h4 class="media-heading">{{contact.name}}</h4>
							    <address>
							    	<strong>{{contact.address}}</strong></br>
							    	{{contact.email}}</br>
							    	{{contact.phone}}</br>
							    	{{contact.group}}
							    </address>
							  </div>
							</div>
						</td>
						<td width="100" class="middle">
							<a href="#" ng-click="edit(contact.id)" title="edit">  
							<i class="glyphicon glyphicon-edit"></i>
							</a>
						<a href="#" ng-click="delete($index)" title="delete">
							<i class="glyphicon glyphicon-remove-sign"></i>
							</a>
						</td>
					</tr>
					</table>
					</div>
					<form ng-if="seeForm === true">
						<div class="panel panel-default">
						<table class="table">
						<tr>
						<td class="middle">
							<div class="media">
                             <div class="media-left">
                                 <a href="#">
                                 <img class="media-object" src="image/skywalker.jpg">
                                 </a>
                             </div>
							  <div class="media-body">
							    <h4 class="media-heading">Skywalker</h4>
							    <address>
							    	<strong>Job2</strong></br>
							    	ajayituoyo@hotmail.com
							    </address>
							  </div>
							</div>
						</td>
						<td width="100" class="middle">
							<a href="#" class="btn btn-circle btn-default btn-xs" ng-click="edit(contact.id)" title="edit">
							<i class="glyphicon glyphicon-edit"></i>
						</a>
						<a href="#" class="btn btn-circle btn-danger btn-xs" title="remove">
							<i class="glyphicon glyphicon-remove-sign"></i>
						</a>
						</td>
					</tr>
					</table>
					</div>
				</form>
				<div class="text-centre">
					<nav>
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li class="active"><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
		
	<form name="userform" ng-if="showForm === true">
		<div class="panel panel-default">
				<table class="table">
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<label for "name" class="control-label col-md-3">Name</label>
									<div class="col-md-5">
										<input type="text" id="name" name="name" class="form-control" ng-model="newcontact.name" required/>
									</div>
								</div>
								<div class="form-group">
									<label for "address" class="control-label col-md-3">Address</label>
									<div class="col-md-5">
										<input type="text" id="address" name="address" class="form-control" ng-model="newcontact.address" required/>
									</div>
								</div>
								<div class="form-group">
									<label for "email" class="control-label col-md-3">Email</label>
									<div class="col-md-5">
										<input type="text" id="email" name="email" class="form-control" ng-model="newcontact.email" required/>
									</div>
								</div>
								<div class="form-group">
									<label for "phone" class="control-label col-md-3">Phone No.</label>
									<div class="col-md-5">
										<input type="text" id="phone" name="phone" class="form-control" ng-model="newcontact.phone" required/>
									</div>
								</div>
								<div class="form-group">
									<label for "group" class="control-label col-md-3">Group</label>
									<div class="col-md-4">
										<select name="group" id="group" class="form-control" ng-model="newcontact.group">
											<option value="">Select group</option>
											<option value="Family">Family</option>
											<option value="Friend">Friend</option>
											<option value="Other">Other</option>
										</select>
									</div>
									<div class="col-md-3">
										<a href="#" id="add-group-btn"class="btn btn-default btn block">Add Group</a>
									</div>
								</div>
								<div class="form-group" id="add-new-group">
									<div class="col-md-offset-3 col-md-8">
										<div class="input-group">
											<input type="text" name="new group" id="new group" class="form-control">
											<span class="input-group-btn">
												<a href="#" class="btn btn-default">
													<i class="glyphicon glyphicon-ok"></i>
												</a>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="fileinput fileinput-new" data-provides="fileinput">
								  <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 150px; height: 150px;"></div>
								  <div class="text-center">
								    <span class="btn btn-default btn-file"><span class="fileinput-new">Choose Photo</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
								    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
								  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-offset-3 col-md-6">
									<button ng-disabled='userform.$invalid'class="btn btn-success" ng-click="saveContact()">Save</button>
									<!-- <input type="hidden" ng-model="newcontact.id"/> -->
									<a href="#" class="btn btn-default">Cancel</a>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<script>
						$("#add-new-group").hide();
						$('#add-group-btn').click(function () {
						$("#add-new-group").slideToggle(function() {
							$("#new-group").focus();
						});
							return false;
						});
				</script>
			</div>
		</table>
	</form>
			

	
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jasny-bootstrap.min.js"></script>"
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="myApp.js"></script>
  </body>
</html>